.client {
  background-color: #122947;
  color: #fff;
  text-align: center;
}
.client .heading {
  display: flex;
  flex-direction: column-reverse;
}
.client .heading p {
  color: rgb(30, 144, 255);
}
.client .heading h1 {
  color: #fff;
  font-size: 30px;
  font-weight: 400;
}
.client .icon {
  width: 100px;
  height: 100px;
  line-height: 100px;
  margin: auto;
  margin-top: 50px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 4% 50%;
  font-size: 32px;
  color: #ffffff;
}
.client h1 {
  font-size: 50px;
}
.client p {
  color: grey;
}
